.text-field {
    margin: 24px 0;
}

.text-field label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
}

.text-field input {
    background: #fff;
    box-shadow: 10px 10px 30px rgb(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 30px;
    box-sizing: border-box;
}